.crl-white{
  color: #fff;
}
.center{
  text-align: center;
  margin-bottom: 2em;
}

.bold{
  font-weight: bold;
}

.description{
  height: 95vh;
  width: 100%;
  background-color: #ffc033;
  background-image: url('image/description1.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  margin: 50px 0px 0px;
  padding: 0px;
}

#quote{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  text-shadow: 0px 0px 5px black;
}

#skills{
  position: relative;
  margin: 50px 0px 0px;
  height: 90vh;
}

.card{
  margin-bottom: 5%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 2px 5px #6f6f6f;
  text-align: center;
}

.card i{
  font-size: 60px;
}

.project{
  background-color: blue;
  height: 90vh;
  padding: 0px;

}

.pro-description{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 50px;
  padding-left: 50px;
}

.text-description li{
  list-style-type: none;
  text-shadow: 1px 2px 1px white;
}

.pro_bg{
  height: 95vh;
  background-color: white;
  background-blend-mode: hard-light;
  background-image:linear-gradient(to right,#ffffff 50%,#570065 100%), url('image/projects1.jpeg');
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  margin: 50px 0px 0px;
  padding: 0px;
}

#contact{
  height: 95vh;
  padding: 0px;
  background-color: #cc1f00;
}

#contact-form{
  background-color: #ff7a00;
  box-shadow: 0px 10px 20px #252525;
  padding: 20px;
}

#contact h1{
  margin-top: 50px;
  text-align: center;
}

.form-grp textarea{
  height: 5em;
}
.form-ctrl{
  border-style: hidden;
  border-bottom: 2px solid #fff;/*#636363*/
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: #000;
  font-size: 20px;
  background-color: white;
}

.form-ctrl:focus{
  outline: none;
  padding: 5px;
  border-bottom: 2px solid #000;
}

.form-ctrl:placeholder-shown{
  color:#000;
}

.btn-form-submit{
  border-style: none;
  width: 100%;
  background-color: #ff2020;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
}

.btn-form-submit:hover{
  background-color: #df2626;
}

.btn-form-submit:active{
  background-color: #911717;
}
@media screen and (max-width:780px) {
  .text-description{
    padding-left: 25%
  }
  .pro_bg{
    background-blend-mode: hue;
  }
}
